<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15983001402-dmchrn7mn3fas2rhh1k69449cmmp8vu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15983001402-dmchrn7mn3fas2rhh1k69449cmmp8vu4</string>
	<key>API_KEY</key>
	<string>AIzaSyAjiOPTO2-GBCa9EZzGhNpOJDLGkd4Q6rA</string>
	<key>GCM_SENDER_ID</key>
	<string>15983001402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>vize030120100</string>
	<key>STORAGE_BUCKET</key>
	<string>vize030120100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15983001402:ios:f2087da398c3a91d13da03</string>
</dict>
</plist>